.form input{
    text-align: center;
    padding: 16px;
    border: solid #c9c9c9;
    border-radius: 50px;
    min-width: 300px;
}
.form small{
    color: red;
}

.form{
    text-align: center;
    border: solid 1px #ccc;
    padding: 15px;
    margin: 10px;
    width: 400px;
}